@import url('https://fonts.googleapis.com/css2?family=Mabry+Pro:wght@400;700&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  @apply bg-[#242423]; /* Use Tailwind's apply directive */
  font-family: 'Mabry Pro', sans-serif; /* Apply globally */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
.carousel-container {
  text-align: center;
  margin: 20px 0;
}

.carousel-title {
  font-size: 1.5rem;
  color: white; /* Adjust color as needed */
  margin-bottom: 10px;
}

.carousel-counter {
  color: white; /* Adjust color as needed */
  margin-top: 10px;
}